@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat:wght@300&display=swap');

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {

font-size: 100%;
background: linear-gradient(#c00002 16.62%, #470203 85.61%);

}
.cabecalho {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    width: 100%;
  }
  
  .cabecalho-imagem {
    height: 80px;
  }
  
  .cabecalho-menu {
    display: flex;
    gap: 32px;
  }
  
  .cabecalho-menu-item {
    font-family: 'Anton', sans-serif;
    color: #c00002;
    font-weight: 400;
    font-size: 36px
  }

  .conteudo-principal {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  
  .conteudo-principal-escrito {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  
 /*---------------BUTTON---------------*/
  .conteudo-principal-escrito-botao:hover {
    background-color: rgba(236, 214, 196, 0.53);
    font-family: 'Anton', sans-serif;
  }
/*font-family: 'Montserrat', sans-serif;*/ 
button {
    --border-radius: 15px;
    --border-width: 4px;
    appearance: none;
    position: relative;
    padding: 1em 2em;
    border: 0;
    background-color: #c00002;
    font-family: "Roboto", Arial, "Segoe UI", sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    z-index: 2;     
   }
   
   button::after {
    --m-i: linear-gradient(#000, #000);
    --m-o: content-box, padding-box;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: var(--border-width);
    border-radius: var(--border-radius);
    background-image: conic-gradient(
           #488cfb,
           #29dbbc,
           #ddf505,
           #ff9f0e,
           #e440bb,
           #655adc,
           #488cfb
       );
    -webkit-mask-image: var(--m-i), var(--m-i);
    mask-image: var(--m-i), var(--m-i);
    -webkit-mask-origin: var(--m-o);
    mask-origin: var(--m-o);
    -webkit-mask-clip: var(--m-o);
    mask-composite: exclude;
    -webkit-mask-composite: destination-out;
    filter: hue-rotate(0);
    animation: rotate-hue linear 500ms infinite;
    animation-play-state: paused;
   }
   
   button:hover::after {
    animation-play-state: running;
   }
   
   @keyframes rotate-hue {
    to {
     filter: hue-rotate(1turn);
    }
   }
   
   button,
   button::after {
    box-sizing: border-box;
   }
   
   button:active {
    --border-width: 5px;
   }

 /*---------------BUTTON---------------*/

  .conteudo-principal-escrito-titulo {
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 64px;
    color: #FFF2E7;
  }
  
  .conteudo-principal-escrito-subtitulo {
    font-family: 'Sarala', sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #ECD6C4;
  }
  
  conteudo-principal-imagem {
    height: 430px;
  }
  
  .conteudo-secundario {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 48px;
  }
  
  .conteudo-secundario-titulo {
    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    font-family: 'Anton', sans-serif;
    font-weight: 400;
    font-size: 34px;
    color: #FFF2EF;
    margin-bottom: 16px;
  }
  
  .conteudo-secundario-paragrafo {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 26px;
    color: #ECD6C4;
  }
  
  .rodape {
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    bottom: 0;
    background-color: #ffffff;
    color: #c00002;
    width: 100%;
    height: 50px;    
    text-align: center;
    line-height: 50px;
  }
  

  

  
 